header{
    background-image : linear-gradient(to right, #f14e51, #970508) ;
    display: flex ;
    justify-content: space-around;
}


.headerliens{
    color:white ;
    margin: 10px ;
    font-size : 30px ;
}

.liens2{
    color:white ;
    font-size: 25px;
}

h1 {
    text-align : center ;
    color : red ;
    font-size : 40 px;
}

h2 {
    margin : 10px;
    font-size : 30px ;
}

h3 {
    text-align : center ;
    font-size : 30 px;
}

.para1{
    font-size: 20px ;
    text-align: center;
    margin:30px ;
}

.para2{
    font-size: 20px ;
    text-align: justify;
    margin:30px ;
}

.CV{
    font-size:20px;
    margin :30px;
}

.lienCV{
    font-weight : 900 ;
}

.bloc_chantier {
    display : flex ;
    background-color:orange ;
    border: 5px orangered solid ;
    justify-content: center ;
    margin-bottom: 20px ;
}

.chantier {
    font-size:25px ;
}

footer {
    background-image : linear-gradient(to right, #f14e51, #970508) ;
    display: flex ;
    flex-direction: column ;
    align-items:center ;
    padding : 15px ;
    justify-content: space-around ;
}

