header{
    background-image : linear-gradient(to right, #f14e51, #970508) ;
    display: flex ;
    justify-content: space-around;
}


.headerliens{
    color:white ;
    margin: 10px ;
    font-size : 30px ;
}

.liens2{
    color:white ;
    font-size: 25px;
}

h1 {
    text-align : center ;
    color : red ;
    font-size : 40 px;
}

h2 {
    margin : 10px;
    font-size : 30px ;
}

.para1{
    font-size: 20px ;
    text-align: center;
    margin:30px ;
}

.para2{
    font-size: 20px ;
    text-align: justify;
    margin:30px ;
}

.CV{
    font-size:20px;
    margin-left :30px;
}

.astérisque{
    color:rgb(119, 115, 110);
    font-size:15px;
    margin-left: 60px;
    margin-bottom: 30px;
}

.lienCV{
    font-weight : 900 ;
}

.csl-bib-body{
    margin : 20px;
}

.bloc_chantier {
    display : flex ;
    flex-direction: column ;
    background-color:orange ;
    border: 5px orangered solid ;
    align-items: center ;
    text-align: center ;
    font-size:25px ;
    margin: 20px ;
}

form{
    margin:20px;
}

.message{
    display: flex ;
    flex-direction: column ;
    align-items:center ;
    justify-content: space-around ;
}

footer {
    background-image : linear-gradient(to right, #f14e51, #970508) ;
    display: flex ;
    flex-direction: column ;
    align-items:center ;
    padding : 15px ;
    justify-content: space-around ;
}

.copyright{
    color:white
}